.icon{
    max-width: 50px;
    max-height: 50px;
}

.selectedPage{
    background-color: #383b50;
    font-weight: bold;
}

button {
    padding: 3px 7px;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: #7a7c81a4;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

.paginatorBlock{
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 15px;
}

