.formControl{
    
}


.formControl.error textarea,
.formControl.error input{
    border: 3px solid red;
}

.formControl.error span{
    color: red;
}


.formSummaryError{
    border: 1px solid red;
    padding: 5px;
    color: red;
}