
.imgShell{
  width: 100%;
  max-width: 100%;
}

.profileImg{
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.textContent{
  position: relative;
  top: -150px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  color: #4d4e53;
}

.name{
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 5px;
}

.userPhoto{
  max-width: 300px;
  max-height: 300px;
}